body {
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 20px;
  margin:30px 20px;
  /* border: 2px solid white; */
}

.buttonn{
  margin:20px;
  
  width: 490px;
}
.box {
  width: auto;
  height: 100px;
  display: flex;
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
}
#clr{
  background-color: blue;
}
.icon {
  font-size: 45px;
  color: #131111;
  
  
  background-color: #ffc107;
 
  

 
}
